/*Mudança da fonte do corpo*/
body {
    font-family: sans-serif;

}

/*Configuração para que o container centralize o card no centro da tela do navegador  */
.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    height: 400px;
    width: 500px;
    background-image: url('/imagens/paisagem.jpeg');
    background-position: center;
    background-repeat: no-repeat; /*serve para evitar repetição caso seja muito grande*/
    background-size: cover; /*fazer uma cobertura completa do background*/
    display: flex;
    justify-content: center;
    align-items: center;
    filter: grayscale(0.5); /*Filtro do card*/
    color: white; /*Cor da fonte*/
    cursor: pointer; /*inclusão de um cursor*/
    transition: 0.3s; /*tempo da transição ao passar o mouse*/
}

.card-wrapper {
    text-align: center;
    display: flex;
    flex-direction: column; /*Alinhamento um abaixo do outro*/
    justify-content: center;
    align-items: center;
    position: relative; /*Poder manipular o pseudo elemento do card wrapper para fazer o efeito de borda para expansão na tela*/

}

/*Card before, estamos colocando absoluto ao card wrapper*/
.card-wrapper::before {
    content: ''; /*vazio*/
    position: absolute;
    height: 100px;
    width: 100px;
    display: block;
    border: 1px solid white ;
    opacity: 0;
    transition: 00.3s;
}

.card-wrapper h2 {
    font-size: 40px;
    text-transform: uppercase; /*Colocar tudo em letra maiuscula*/
    letter-spacing: 4px; /*espaçamento entre as letras*/
    margin: 0; 
    transition:  0.3s;
}

.card-wrapper p {
    font-size: 0;
    visibility: hidden;
    opacity: 0;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.3s;
}